
@{
    ViewBag.Title = "Bloglar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="icon_documents_alt"></i> Bloglar</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Dashboard/Index">Dashboard</a></li>
            <li><i class="icon_documents_alt"></i>Bloglar</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resim</th>
                            <th>Başlık</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td><img src="~/Uploads/@item.imageUrl" width="150" /></td>
                                <td>@item.title</td>
                                <td><a href="/Blogs/Edit/@item.id">Düzenle</a> | <a href="/Blogs/Delete/@item.id" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>