
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-laptop"></i>Dashboard</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fa fa-table"></i>
            <div class="count">@ViewBag.CategoryCount</div>
            <div class="title">Kategori</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fa fa-book"></i>
            <div class="count">@ViewBag.BlogCount</div>
            <div class="title">Blog Yazısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="fa fa-archive"></i>
            <div class="count">@ViewBag.OurServiceCount</div>
            <div class="title">Hizmet</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="fa fa-comment"></i>
            <div class="count">@ViewBag.CommentCount</div>
            <div class="title">Yorum</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

</div>
