
@{
    ViewBag.Title = "Site Bilgileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Site Bilgileri</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/Admin/Index">Dashboard</a></li>
                    <li><i class="fa fa-laptop"></i>Site Bilgileri</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Kayıtlar
                    </header>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Başlık</th>
                                    <th>Anahtar Kelimeler</th>
                                    <th>Açıklama</th>
                                    <th>Ünvan</th>
                                    <th>Fotoğraf</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>
        </div>

    </section>
</section>