
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yönetim Paneli - BasicCMS</title>
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/Admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <link href="~/Content/Admin/css/style-responsive.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form class="login-form" method="post" action="/Admin/Login/">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="email" placeholder="E-posta adresiniz" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Şifreniz">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
                @if (!String.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="checkbox">
                        <label class="pull-left">@ViewBag.Message</label>
                    </div>
                }
            </div>
        </form>

    </div>
</body>
</html>