<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BasicCMS</title>
    <meta name="description" content="" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/Site/css/jcarousel.css" rel="stylesheet" />
    <link href="~/Content/Site/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/Site/css/style.css" rel="stylesheet" />
    <link href="~/Content/Site/skins/default.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        @{
            Html.RenderAction("SiteHeader", "Home");
        }
        @RenderBody()
        @{
            Html.RenderAction("SiteFooter", "Home");
        }
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/Site/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Site/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Site/js/jquery.fancybox-media.js"></script>
    <script src="~/Content/Site/js/google-code-prettify/prettify.js"></script>
    <script src="~/Content/Site/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/Content/Site/js/portfolio/setting.js"></script>
    <script src="~/Content/Site/js/jquery.flexslider.js"></script>
    <script src="~/Content/Site/js/animate.js"></script>
    <script src="~/Content/Site/js/custom.js"></script>
</body>
</html>